MYSQL_ROOT_PASSWORD=zabbix
MYSQL_USER=zabbix
MYSQL_PASSWORD=zabbix

# The Zabbix proxy will create the database itself.
TZ=Europe/Moscow
## General parameters for all proxies

DB_SERVER_HOST=db

#ZBX_SERVER_PORT=20051
ZBX_SERVER_HOST=zabbix-server:10051

ZBX_TLSCONNECT=psk
ZBX_TLSACCEPT=psk
ZBX_TLSPSKFILE=proxy.psk
ZBX_PROXYHEARTBEATFREQUENCY=30


ZBX_PROXYOFFLINEBUFFER=4

SERVER_VERSION=
AGENT_VERSION=